#### 1:Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

In [2]:
! type test.txt

This is a test of the emergency text system,

#### 2:Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)   
print(test1 == test2)

This is a test of the emergency text system,
True

#### 3:Create a CSV file called books.csv by using these lines: title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [4]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)

#### 4:Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

#### 5: Read books.csv and insert its data into the book table.

In [7]:
import sqlite3
import csv
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

#### 6:Select and print the title column from the book table in alphabetical order.

In [8]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### 7:From the book table, select and print all columns in the order of publication.

In [1]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for record in ouput:
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### 8:Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [7]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

In [3]:
! python -m pip install redis

Collecting redis
  Downloading redis-4.5.5-py3-none-any.whl (240 kB)
                                              0.0/240.3 kB ? eta -:--:--
                                              0.0/240.3 kB ? eta -:--:--
     -                                        10.2/240.3 kB ? eta -:--:--
     -                                        10.2/240.3 kB ? eta -:--:--
     -                                        10.2/240.3 kB ? eta -:--:--
     -                                        10.2/240.3 kB ? eta -:--:--
     -                                        10.2/240.3 kB ? eta -:--:--
     -                                        10.2/240.3 kB ? eta -:--:--
     --------------                        92.2/240.3 kB 291.5 kB/s eta 0:00:01
     --------------                        92.2/240.3 kB 291.5 kB/s eta 0:00:01
     --------------                        92.2/240.3 kB 291.5 kB/s eta 0:00:01
     --------------                        92.2/240.3 kB 291.5 kB/s eta 0:00:01
     --------------                        92.2/240.3 kB 291.5 kB/s eta 0:00:01
     --------------------------           174.1/240.3 kB 327.7 kB/s eta 0:00:01
     --------------------------           174.1/240.3 kB 327.7 kB/s eta 0:00:01
     --------------------------           174.1/240.3 kB 327.7 kB/s eta 0:00:01
     -----------------------------------  235.5/240.3 kB 351.4 kB/s eta 0:00:01
     ------------------------------------ 240.3/240.3 kB 350.8 kB/s eta 0:00:00
Collecting async-timeout>=4.0.2 (from redis)
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.5

In [6]:
pip install SQLAlchemy

Collecting SQLAlchemyNote: you may need to restart the kernel to use updated packages.

  Downloading SQLAlchemy-2.0.15-cp311-cp311-win_amd64.whl (2.0 MB)
                                              0.0/2.0 MB ? eta -:--:--
                                              0.0/2.0 MB ? eta -:--:--
                                              0.0/2.0 MB ? eta -:--:--
                                              0.0/2.0 MB ? eta -:--:--
                                              0.0/2.0 MB ? eta -:--:--
                                              0.0/2.0 MB ? eta -:--:--
                                              0.0/2.0 MB ? eta -:--:--
                                              0.0/2.0 MB ? eta -:--:--
                                              0.0/2.0 MB ? eta -:--:--
     --                                       0.1/2.0 MB 273.1 kB/s eta 0:00:07
     --                                       0.1/2.0 MB 273.1 kB/s eta 0:00:07
     --                                       0.1/2.0 MB 273.1 kB/s eta 0:00:07
     --                                       0.1/2.0 MB 273.1 kB/s eta 0:00:07
     --                                       0.1/2.0 MB 200.4 kB/s eta 0:00:10
     ----                                     0.2/2.0 MB 368.0 kB/s eta 0:00:05
     ----                                     0.2/2.0 MB 368.0 kB/s eta 0:00:05
     ----                                     0.2/2.0 MB 368.0 kB/s eta 0:00:05
     -----                                    0.3/2.0 MB 340.9 kB/s eta 0:00:05
     ------                                   0.3/2.0 MB 398.3 kB/s eta 0:00:05
     -------                                  0.4/2.0 MB 417.2 kB/s eta 0:00:04
     -------                                  0.4/2.0 MB 417.2 kB/s eta 0:00:04
     -------                                  0.4/2.0 MB 417.2 kB/s eta 0:00:04
     ----------                               0.5/2.0 MB 504.4 kB/s eta 0:00:03
     ------------                             0.6/2.0 MB 578.5 kB/s eta 0:00:03
     ------------                             0.6/2.0 MB 578.5 kB/s eta 0:00:03
     ------------                             0.6/2.0 MB 578.5 kB/s eta 0:00:03
     ---------------                          0.8/2.0 MB 630.7 kB/s eta 0:00:02
     ----------------                         0.8/2.0 MB 663.9 kB/s eta 0:00:02
     -------------------                      0.9/2.0 MB 718.5 kB/s eta 0:00:02
     ---------------------                    1.1/2.0 MB 774.5 kB/s eta 0:00:02
     ---------------------                    1.1/2.0 MB 774.5 kB/s eta 0:00:02
     ---------------------                    1.1/2.0 MB 774.5 kB/s eta 0:00:02
     ---------------------------              1.4/2.0 MB 899.0 kB/s eta 0:00:01
     ---------------------------              1.4/2.0 MB 899.0 kB/s eta 0:00:01
     ----------------------------             1.4/2.0 MB 904.7 kB/s eta 0:00:01
     ----------------------------             1.4/2.0 MB 904.7 kB/s eta 0:00:01
     ----------------------------             1.4/2.0 MB 904.7 kB/s eta 0:00:01
     --------------------------------         1.6/2.0 MB 918.7 kB/s eta 0:00:01
     --------------------------------         1.6/2.0 MB 918.7 kB/s eta 0:00:01
     --------------------------------         1.6/2.0 MB 918.7 kB/s eta 0:00:01
     --------------------------------         1.6/2.0 MB 918.7 kB/s eta 0:00:01
     --------------------------------         1.6/2.0 MB 918.7 kB/s eta 0:00:01
     --------------------------------         1.6/2.0 MB 918.7 kB/s eta 0:00:01
     ---------------------------------------  2.0/2.0 MB 970.6 kB/s eta 0:00:01
     ---------------------------------------- 2.0/2.0 MB 958.5 kB/s eta 0:00:00
Collecting typing-extensions>=4.2.0 (from SQLAlchemy)
  Downloading typing_extensions-4.6.2-py3-none-any.whl (31 kB)
Collecting greenlet!=0.4.17 (from SQLAlchemy)
  Downloading greenlet-2.0.2-cp311-cp311-win_amd64.whl (192 kB)
                                              0.0/192.5 kB ? eta -:--:--
     ------------------------------------- 192.5/192.5 kB 11.4 MB/s eta 0:00:00
Installing collected packages: typing-extensions, greenlet, SQLAlchemy
Successfully installed SQLAlchemy-2.0.15 greenlet-2.0.2 typing-extensions-4.6.2

#### 9:Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

#### 10:Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')