#### 1:Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
birth_year = 2000 
years_list = list(range(birth_year, birth_year+6))
print(years_list)

[2000, 2001, 2002, 2003, 2004, 2005]

#### 2:In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
Ans. In years_list = [2000, 2001, 2002, 2003, 2004, 2005], the fourth element 2003 represents the year in which I turned 3 years old, because I was 0 years old in my first year.

#### 3:In the years list, which year were you the oldest?
Ans. If we assume that the birth year is 2000, then the last year in the years_list is 2005, which is the year I turned 5 years old. Therefore, I was the oldest in the year 2005

#### 4:Make a list called things with these three strings as elements: "mozzarella","cinderella","salmonella".

In [2]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

#### 5:Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
Ans. As we can see, the second element in the things list, which was "cinderella", has been capitalized to "Cinderella". This means that the things list has been modified.

In [3]:
things = ["mozzarella", "cinderella", "salmonella"]
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

#### 6:Make a surprise list with the elements 'Groucho', 'Chico', and 'Harpo'.

In [4]:
surprise = ['Groucho', 'Chico', 'Harpo']
print(surprise)

['Groucho', 'Chico', 'Harpo']

#### 7:Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [5]:
surprise = ['Groucho', 'Chico', 'Harpo']
last_element = surprise[-1]  # Get the last element
last_element = last_element.lower()  # Lowercase the last element
last_element = last_element[::-1]  # Reverse the last element
last_element = last_element.capitalize()  # Capitalize the last element
surprise[-1] = last_element  # Update the last element in the list
print(surprise)

['Groucho', 'Chico', 'Oprah']

#### 8:Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [6]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#### 9:Write the French word for walrus in your three-word dictionary e2f.

In [7]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
french_word = e2f['walrus']
print(french_word)

morse

##### 10:Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [8]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
f2e = {french: english for english, french in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

#### 11:Print the English version of the French word chien using f2e.

In [9]:

f2e = {'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}
english_word = f2e['chien']
print(english_word)

dog

#### 12:Make and print a set of English words from the keys in e2f.

In [10]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
english_words = set(e2f.keys())
print(english_words)

{'cat', 'walrus', 'dog'}

#### 13:Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [11]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

#### 14:Print the top-level keys of life.

In [14]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}
top_keys = life.keys()
print(top_keys)

dict_keys(['animals', 'plants', 'other'])

#### 15:Print the keys for life['animals'].

In [15]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}
animal_keys = life['animals'].keys()
print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

#### 16:Print the values for life['animals']['cats']

In [16]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}
cat_values = life['animals']['cats']
print(cat_values)

['Henri', 'Grumpy', 'Lucy']